html { height: 100%; }
body {
  margin: 0; height: 100%;
  font-family: sans-serif;
}

/* Height / width / positioning can be customized for your use case.
   For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
.firepad-userlist {
  height: auto;
  width: 12rem;
}
#userlist {
  width: 12rem;
  position: absolute; left: 0; top: 3rem; bottom: 0;
  background: #ebebeb; /* Old browsers */
  background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebebeb), color-stop(93%,#eaeaea), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* IE10+ */
  background: linear-gradient(to right, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* W3C */
  color: #404040;

  height: auto;
}
.firepad-userlist-heading {margin: 0; padding: 0.5rem 0.5rem 0 0.5rem;}

#firepad {
  position: absolute; left: 12rem; top: 3rem; bottom: 0; right: 0; height: auto;
}

/* top bar */
#topbar {
  position: absolute; left: 0, top: 0, right: 0;
  width: 100%; height: 3rem;
  background-color: #444;
  color: white;
}

/* tweaks to CodeMirror content */
.firepad .CodeMirror {
  font-family: Consolas, Monaco, Menlo, "Andale Mono", monospace;
  line-height: 1.2em;
}
.CodeMirror-lines {
  padding: 0.5rem;
}
.firepad .CodeMirror .cm-header { font-family: sans-serif; }
.cm-header-1 { font-size: 150%; }
.cm-header-2 { font-size: 130%; }
.cm-header-3 { font-size: 120%; }
.cm-header-4 { font-size: 110%; }
.cm-header-5 { font-size: 100%; }
.cm-header-6 { font-size: 90%; }

/* lists are not rainbow vomit */
.cm-s-default .cm-keyword {color: black;}
.cm-s-default .cm-variable-2 {color: black;}
.cm-s-default .cm-variable-3 {color: black;}
.cm-s-default .cm-link {color: #00c;}

.powered-by-firepad {display: none;}